.primary-button {
  min-width: 150px;
  padding: $space-medium;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  background-color: $color-red;
  color: $color-white;
  align-items: center;
  transition: $transition;

  &:hover {
    background-color: $color-maroon;
  }
}

.banner {
  height: 300px;
  background: url("../../images/inners-background.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.form {
  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-medium;

    label {
      margin-bottom: $space-small;
    }

    input {
      width: 100%;
      height: 50px;
      border: 1px solid $color-red;
      padding: $space-medium;

      &.visually-hidden {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);

        &:is(:focus, :focus-within) + label {
          outline: thin dotted;
        }
      }
    }

    &.upload {
      width: 50px;
      height: 50px;
      position: relative;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
      }
      .spinner {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: $color-white;
        }
      }
    }
  }
  .error,
  .success {
    padding: $space-large;
    width: 100%;
    transition: $transition;
  }
  .error {
    background: rgb(246, 168, 168);
  }
  .success {
    background: rgb(175, 228, 175);
  }

  button {
    margin: $space-medium auto;
  }

  &.admin-form {
    width: 300px;

    h3 {
      text-align: center;
    }

    input {
      height: 30px;
      padding: $space-small;
    }
    label {
      margin-bottom: 4px;
    }
    .actions {
      display: flex;

      button {
        width: 100px;

        &[disabled] {
          cursor: default;
          opacity: 0.5;

          &:hover {
            background-color: $color-red;
          }
        }
      }
    }
  }
}

.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    color: $color-red;
    font-size: 80px;
  }
}

@media (min-width: $media-desktop) {
  .form {
    .form-field {
      input {
        padding: $space-small;
      }
    }
  }

  .banner {
    height: 500px;
  }
}
