/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

html {
  font-family: "Kalam", cursive;
  font-size: 16px;

  .container {
    padding: $space-medium;
  }

  main {
    min-height: calc(100vh - 270px);
    background-color: $color-maroon;
  }
}

@media (min-width: $media-tablet) {
  html {
    .container {
      max-width: 700px;
      margin: 0 auto;
    }
  }
}

@media (min-width: $media-desktop) {
  html {
    font-size: 18px;
  }
}
