/* Colors */
$color-maroon: #7f0f20;
$color-red: #e9344e;
$color-dark-gray: #4e4d4d;
$color-light-rose: #f0e7e6;
$color-black: #000000;
$color-white: #ffffff;

/* Space */
$space-small: 8px;
$space-medium: 16px;
$space-large: 24px;
$space-x-large: 32px;

/* Other */
$transition: 0.3s ease-in-out;

/* Media queries */
$media-big-phones: 550px;
$media-tablet: 750px;
$media-desktop: 1280px;
