.categories-list {
  background-color: $color-maroon;
  padding-top: $space-small;

  .container {
    display: flex;
    flex-direction: column;
  }

  .category-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: $space-x-large;

    img {
      width: 311px;
      height: 200px;
      box-shadow: $box-shadow;
    }
    .details {
      background-color: $color-light-rose;
      box-shadow: $box-shadow;
      width: 280px;
      margin-top: -35px;

      .text {
        padding: $space-medium;
        text-align: center;

        h2 {
          color: $color-red;
        }
        p {
          color: $color-dark-gray;
        }
      }

      button {
        width: 100%;
      }
    }
  }
}

@media (min-width: $media-tablet) {
  .categories-list {
    .container {
      flex-direction: row;
      justify-content: space-between;
      gap: $space-x-large;
      flex-wrap: wrap;
    }
  }
}
