header {
  height: 80px;
  background-color: $color-black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: $space-medium;
  box-shadow: $box-shadow;

  .logo {
    height: 43px;
  }

  a {
    color: $color-white;
    transition: $transition;

    &:hover {
      color: $color-red;
    }
  }
}

@media (min-width: $media-desktop) {
  header {
    height: 120px;
    padding: $space-medium $space-x-large;

    .logo {
      height: 64px;
    }
  }
}
